@import "tailwindcss";

:root {
  --background: #0D1117; /* brand-dark */
  --foreground: #C9D1D9; /* brand-text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D1117;
    --foreground: #C9D1D9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
